from sqlalchemy import Column, Integer, String, DateTime, Table, ForeignKey

from {{app}}.database import dt, Model

class {{model}}(Model):
    __tablename__ = "{{table}}"

    {{id}} = Column(Integer, primary_key=True)
    created_at = Column(DateTime, default=dt.utcnow)

    def __init__(self):
        Model.__init__(self)

    